@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~react-big-calendar/lib/css/react-big-calendar.css";
@import "~bootstrap/scss/bootstrap";
@import "~react-toastify/dist/ReactToastify.min.css";
@import "~react-circular-progressbar/dist/styles.css";


@import "styles/fonts.scss";
@import "styles/variables.scss";
@import "styles/layout";
@import "styles/pages";

html body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: $global;
  font-weight: 300;
}

a {
  transition: all ease-in-out 0.3s;

  &:hover {
    text-decoration: none;
  }
}

button {
  &:focus {
    outline: none;
  }

  &.btn-link {
    border: none;
    background: transparent;
    font-size: 12px;
    text-decoration: none !important;
  }

  &.MuiButton-contained {
    color: $white;
    background: $grey;
    text-transform: capitalize;
    font-size: 12px;
    padding: 10px 25px;

    @include media-breakpoint-up(lg) {
      font-size: 14px;
    }

    &:hover {
      background: darken($grey, 25%);
    }
  }

  &.MuiButton-containedPrimary {
    color: $white;
    background: $cornflower;
    text-transform: capitalize;
    font-size: 12px;
    padding: 10px 25px;

    @include media-breakpoint-up(lg) {
      font-size: 14px;
    }

    &:hover {
      background: darken($cornflower, 25%);
    }

    &.round {
      border-radius: 100px;
    }
  }

  &.MuiButton-containedSecondary {
    background: $iris;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 12px;

    @include media-breakpoint-up(lg) {
      font-size: 14px;
    }

    &.reject {
      background: $warm-pink;
    }
  }

  &.full {
    width: 100%;
  }

  &.btn-input {
    padding: 0;
    font-size: 12px;
  }
}

img {
  max-width: 100%;

  &.loading {
    width: 100px;
  }

  &.user-photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
  }

  &.img-user {
    width: 50px;
    object-fit: cover;
  }

  &.vessel-photo {
    width: 360px;
  }
}

.avatar,
.picture {
  input {
    display: none;
  }
}

.card-comments {
  display: flex;
  border-bottom: 1px solid $grey;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;

  &:hover {
    .btn-del {
      visibility: visible;
      opacity: 1;
    }
  }

  .img-comment {
    margin-right: 15px;

    img {
      min-width: 60px;
    }
  }

  small {
    color: $cornflower;
    font-size: 11px;
  }

  .btn-del {
    transition: 0.3s ease-in-out all;
    border: none;
    background: transparent;
    color: $warm-pink;
    position: absolute;
    right: 0;
    top: 10px;
    visibility: hidden;
    opacity: 0;
  }

  h5 {
    font-weight: 700;
    font-size: 18px;
  }

  p {
    font-size: 13px;
  }
}

.MuiTypography-root.MuiTypography-h6 {
  font-family: $global;
  font-weight: 700;
}

.MuiFormControlLabel-root {
  .MuiTypography-root {
    font-weight: 400;
    font-size: 14px;
    color: $black;
  }

  .MuiCheckbox-colorSecondary.Mui-checked {
    color: $cornflower;
  }

  .MuiCheckbox-root {
    color: $cornflower;
    padding: 0;
    margin-right: 5px;
  }
}

.MuiFormControl-root {
  label {
    font-weight: 300;
    font-size: 14px;
    color: $grey;
    transform: translate(14px, 18px) scale(1);
    font-family: $global;

    &.Mui-focused {
      color: $blue-grey;
    }
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: $grey;
  }

  &.search-field {
    margin-bottom: 15px;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }

    .MuiOutlinedInput-inputAdornedStart {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    fieldset {
      border-radius: 100px;
    }

    .MuiInputBase-input {
      padding: 14px;
      font-size: 14px;
    }

    .MuiOutlinedInput-adornedEnd {
      padding-right: 0;
    }

    .MuiIconButton-root {
      border-radius: 100%;
      background: $pale-grey;

      i {
        font-size: 14px;
        color: $cornflower;
      }
    }
  }

  .MuiInput-underline {

    &:after,
    &:before {
      border-bottom: 2px solid $grey;
    }
  }

  .MuiInputBase-input {
    font-size: 14px;
    padding: 14px;
    font-family: $global;

    .colored & {
      background: $white;
    }

    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
  }
}

.MuiList-root .MuiMenuItem-root {
  font-family: $global;
  font-size: 14px;
}

.text-danger {
  font-size: 12px;
  font-weight: 600;
  text-align: left;
}

.dashboard-container {
  margin-left: 200px;
  padding: 20px;
}

.card-cash {
  box-shadow: 0 1px 5px 0 rgba(113, 113, 113, 0.29);
  border-radius: 0;
  cursor: pointer;
  border: none;

  &.active {
    box-shadow: 0 0 17px 7px rgba(66, 48, 74, 0.8);
    -webkit-box-shadow: 0 0 17px 7px rgba(66, 48, 74, 0.8);
    -moz-box-shadow: 0 0 17px 7px rgba(66, 48, 74, 0.8);
  }

  .card-header {
    padding: 0;
    border: none;
    background: transparent;
  }

  .card-body {
    h3 {
      margin-bottom: 0;
      font-weight: 700;
    }
  }
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $white-three;
  border-radius: 10px;
  outline: 1px solid $white-three;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.inner-button {
  margin-top: 30px;
}

.Modal.open {
  margin-top: 120px;
  -webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.Modal.close {
  animation: bounce-out 1s ease-in;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounce-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-22 17:40:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

.approved {
  background: #c9fbe9;
  border-radius: 9px;
  padding: 4px 17px;
  margin-left: 6px;
  color: #606060;
}

.unapproved {
  background: #9e9e9e;
  border-radius: 9px;
  padding: 4px 17px;
  margin-left: 6px;
  color: #ffffff;
}

span {
  &.area {
    background: aliceblue;
    padding: 5px 10px;
    border: 1px solid #9e9e9e;
    border-radius: 12px;
    margin-right: 2px;
    font-size: 11px;
    margin-bottom: 2px;
  }
  &.name{
    font-weight: bold;
    color: #000;
    font-size: 16px;
  }
  &.case{
    font-size: 12px;
    color: #463e3e;
  }
}

.block-area {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-flow: wrap;
  margin-bottom: 5px;
}